<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Crash Crouse</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <a href="/" class="brand">Foodie</a>
    </header>
    <main>
        {{{ body }}}
    </main>
    
</body>
</html>